<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/indoor.css">
</head>
<body>
    <div id="b"></div>
        <!-- navbar start -->
        <div class="navbar" style="z-index:101 ;">
            <ul>
                <b>
                    <li><a class="webname" href="#home" style="font-size: 20px;">FITSPRINT</a></li>
                </b>
                <!-- changes made here -->
                <!-- <div class="toggle-button" id="theme">
                    <div class="toggle-button-label">Change Theme</div>
                </div> -->
                <!-- changes are ending here... -->
                <!-- linking the depression thingy over here -->
                <li style="float:right"><a href="https://upranayak-happyheart-injuryprevention-04yj1p.streamlit.app/">Check Body Vitals</a></li>
            </ul>
        </div>
        <!-- navbar end -->
        <div class="mainheading">Indoor activites</div>
        <div class="workingheading">How it works</div>
        <!-- editing from here  -->
    <div class="connectionDevice" style="
    display: flex;
    flex-direction: row;
    margin: 5%;
    border-radius:2%;
    ">
        <div class="newImage">
            <img style="margin:10px; border-radius:5%;" src="static/images/connectDevice.png" alt="">
        </div>
        <div class="description">
            <h2>Connect Your Device</h2>
            <div class="content">
                Set up your GPS device and seamlessly upload your workouts right to Strava. No device? No problem record and connect anytime, anywhere with our web app.
            </div>
            <button><a href="Devices">Click Here</a></button>
        </div>
    </div>

    <!-- this is the place where I am making some changes -->
    <div class="working">
        <div class="one card" style="border-radius: 20px;">
            <div class="content">
                <b>Join the game</b>
            </div>
            <div class="image">
                <img src="static/images/user2.png" alt="">
            </div>
            <div class="content">
                935,654<br>players
            </div>
        </div>
        <div class="two card" style="border-radius: 20px;">
            <div class="content">
                <b> Loose weight</b>
            </div>
            <div class="image">
                <img src="static/images/weight_loss.png" alt="">
            </div> 
            <div class="content">
               1,221,134 lbs lost
            </div>
        </div>
        <div class="three card" style="border-radius: 20px;">
            <div class="content">
              <b>  WIN and Split the POT</b>
            </div>
            <div class="image">
                <img src="static/images/pool_prize.jpg" alt="">
            </div>
            <div class="content">
                $62,263,156<br>paid to winners
            </div>
        </div>
    </div>
    <div class="eventheading">
        Featured events
    </div>
    <div class="scrollable">
        <a href="register"><div class="scroll_card">
                <div class="cont">
                    <div class="heading">
                        Push-up
                    </div>
                    <div class="image">
                        <img src="static/images/pushup.png" alt="">
                    </div>
                    <div class="description">
                        <br>Target : 1000 pushups within 24 hours
                    </div>
                    <div class="content">
                        <b>Total prize pool : 1000$<br><br>max player : 100<br><br> Bet : $10<br><br>
                    </div>
                    <div class="button">
                        <button>register</button>
                    </div>
                </div>
        </div></a>
        <a href="register"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    Running
                </div>
                <div class="image">
                    <img src="static/images/running.jpeg" alt="">
                </div>
                <div class="description">
                    <br>Target : run 20 miles in 24 hours
                </div>
                <div class="content">
                    <b>Total prize pool : 500$<br><br>max player : 100<br><br> Bet : $5<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        
        </div></a>
        <a href="register"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    Skipping
                </div>
                <div class="image">
                    <img src="static/images/skipping.webp" alt="">
                </div>
                <div class="description">
                    <br>Target : 1000 skips in 24 hours
                </div>
                <div class="content">
                    <b>Total prize pool : 5000$<br><br>max player : 1000<br><br> Bet : $5<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        </div></a>
        <a href="register"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    marathon
                </div>
                <div class="image">
                    <img src="static/images/marathon.jpeg" alt="">
                </div>
                <div class="description">
                    <br>Target : 100 miles in 15 days
                </div>
                <div class="content">
                    <b>Total prize pool : 10000$<br><br>max player : 100<br><br> Bet : $100<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        </div></a>
        <a href="register"><div class="scroll_card">
            <div class="cont">
                <div class="heading">
                    Crunches
                </div>
                <div class="image">
                    <img src="static/images/crunch.jpeg" alt="">
                </div>
                <div class="description">
                    <br>Target : 1000 crunches within 24 hours
                </div>
                <div class="content">
                    <b>Total prize pool : 1000$<br><br>max player : 100<br><br> Bet : $10<br><br>
                </div>
                <div class="button">
                    <button>register</button>
                </div>
            </div>
        
        </div></a>
    </div>
    
</body>
</html>
<script>
    // var theme = document.getElementById("theme");
    // theme.onclick = function () {
    //     document.body.classList.toggle("darktheme");
    //     // console.log("woeking")
    // }

    // var time = new Date();
    //     var t = time.toLocaleString('en-US', { hour: 'numeric', hour12: true })
    //     var ans = time.getHours();
    //     const last2 = t.slice(-2);
    //     if(ans<6 || ans>18){
    //         document.body.classList.toggle("darktheme");
    //     }
</script>