<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/outdoor.css">
</head>
<body>
    <img src="static/images/backgroundtesting.jpeg" alt="" id="backimage">
    {% comment %} <img src="static/images/background2.jpeg" alt="" id="backimage2"> {% endcomment %}
    <!-- navbar start -->
    <div class="navbar" style="z-index:101 ;">
        <ul>
            <b>

                <li><a class="webname" href="#home" style="font-size: 20px;">FITSPRINT</a></li>
            </b>
            <li style="float:right"><a href="#about">Login</a></li>
          
        </ul>
    </div>

    <!-- navbar end -->
    <div class="heading">Outdoor Activites</div>
    <div class="container">
<a href="/timing_all">
    <div class="cardone" style="cursor:pointer">
        <div class="image">

            <img src="static/images/allinone.jpeg" alt="">
        </div>
        <div class="content">
           Weekly <br> Routine 
        </div>
    </div> 
</a>
           
<a href="/timing">
    <div class="cardtwo">
        <div class="image">

            <img src="static/images/custom.jpeg" alt="">
        </div>
        <div class="content">
           Daily<br>Routine 
        </div>
    </div>
</a>

    </div>
</body>
</html>