<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="static/css/register.css">-->
        <link rel="stylesheet" type="text/css" href="static/css/register.css"> 
</head>
<body>
 <!-- navbar start -->
 <div class="navbar" style="z-index:101 ;">
    <ul>
        <b>
            <li><a class="webname" href="#home" style="font-size: 20px;">FITSPRINT</a></li>
        </b>
    </ul>
</div>
<div class="container">
    <div class="heading">Task:push-ups</div>
    <div class="image"><img src="static/images/pushup.png" alt=""></div>
    <div class="details">Target : 1000 pushups in 24 hours</div>
    <div class="price">Price : $10</div>
    <div class="register"><a href="success">Pay Now</a></div>
</div>
<!-- navbar end -->
</body>
</html>