<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/device.css">
</head>
<body>
    <h2>Upload and Sync Your Activities</h2>
    <div class="mainContent">
        <div class="mainCheck">
            <div class="check">
                <div class="Image"><img src="/static/images/Apple Watch.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Fitbit.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Garmin.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/HammerHead.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Bryton.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
        </div>
        <div class="mainCheck">
            <div class="check">
                <div class="Image"><img src="/static/images/Peloton.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Polar.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Samsung.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Suunto.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/TrainerRoad.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
        </div>
        <div class="mainCheck">
            <div class="check">
                <div class="Image"><img src="/static/images/Wahoo.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Wear OS by Google.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Zepp.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
            <div class="check">
                <div class="Image"><img src="/static/images/Zwift.png" alt=""></div>
                <div class="Button">Get Started</div>
            </div>
        </div>
    </div>
    <div class="Button1"><a href="Indoor">Back</a></div>
</body>
</html>